:root {
  --theme1: #963634;
  --theme2: #fcf6f1;
  --theme3: rgb(32, 32, 32);
}

.app {
  background-color: pink;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 110px auto 1.2em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

header {
  z-index: 1;
  background-color: yellowgreen;
  box-shadow: 0 0 3px 3px grey;
  grid-column: auto / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row-reverse;
  /* padding: 1.5vw; */
}

.sign-in--widget {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 9px;
}

.sign-in--username {
  cursor: default;
  font-size: large;
}

.profile-pic--wrapper {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic--wrapper:hover {
  cursor: pointer;
}

nav {
  z-index: 1;
  padding: 0.4rem;
  background-color: #963634;
  grid-column: 1 / 2;
  grid-row: 1 / -2;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.material-icons-outlined {
  font-size: 0.8em;
}

.nav--logo {
  font-size: 3rem;
}

.nav--item {
  font-size: 1.3rem;
}

footer {
  background-color: aquamarine;
  grid-column: 1 / -1;
  grid-row: -2 / -1;
  text-align: center;
}

.viewWindow {
  background-color: #dbdee2;
  grid-column: auto / -1;
  grid-row: 2 / 1fr;
}

.display-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 9px;
}

.actions-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.search-bar {
}

.gallery {
  grid-column: 1 / -2;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.empty-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  /* background-color: blueviolet; */
  font-size: xx-large;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 7px;
}

.gallery-item {
  padding: 0.4rem;
  height: 150px;
  border: solid 1px black;
  border-radius: 4px;
  background-color: yellow;
}

.gallery-item:hover {
  background-color: rgb(255, 208, 0);
  cursor: pointer;
}

.gallery-item--proj-name {
}

.gallery-item--proj-auth {
  font-size: small;
  line-height: 1rem;
}

.gallery-item--img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70%;
}

.gallery-item--img {
  font-size: xxx-large;
}

.aside {
  grid-column: -2 / -1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aside section {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.aside ul {
  border: solid 1px black;
  border-radius: 4px;
  background-color: yellow;
}

.project {
  padding: 4%;
  display: flex;
  gap: 3%;
}

.project--img-wrapper {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  background-color: rgb(231, 227, 227);
  opacity: 0.8;
  border: solid 1px grey;
  border-radius: 3px;
}

.project--project-img {
}

.project--text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.project--title {
  font-size: xxx-large;
}

.project--meta {
  display: flex;
  gap: 20%;
  font-size: x-large;
}

.project--description {
  font-size: x-large;
  width: 85%;
}

.popup-overlay {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.new-project-form {
  display: grid;
  grid-template-columns: auto auto;
  line-height: 2em;
  gap: 5px;
  padding: 15px 15px 30px 15px;
  background-color: aqua;
  border-radius: 4px;
}

.form-header,
.form-sub-button {
  grid-column: 1 / -1;
}

.form-header {
  text-align: center;
  font-size: larger;
}
